# PostgreSQL
POSTGRES_DB=vite_et_gourmand
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me

# MongoDB
MONGODB_DATABASE=vite_et_gourmand_statistics

# Authentification
JWT_SECRET=change-me-with-a-long-secure-secret

# Envoi des e-mails
MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
